@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a:link {
  text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-green {
  cursor: pointer;
  border: none;
  display: inline-block;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: #3db75f;
  color: #fff;
  position: relative;
  top: 0;
  transition: top 0.2s ease-in-out;
}
.btn-green:hover {
  background-color: #30914b;
  top: -2px;
}
.btn-green:active {
  top: 2px;
}

.btn-yellow {
  cursor: pointer;
  border: none;
  display: inline-block;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: #f6bf07;
  color: #fff;
  position: relative;
  top: 0;
  transition: top 0.2s ease-in-out;
}
.btn-yellow:hover {
  background-color: #c49806;
  top: -2px;
}
.btn-yellow:active {
  top: 2px;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 3rem;
  font-family: "Nunito", sans-serif;
  background-color: #e6e6fa;
}
body .hidden {
  display: none !important;
}
body .side-menu {
  grid-row: 1/4;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgb(124, 104, 238), rgba(124, 104, 238, 0.8), rgba(124, 104, 238, 0.7), rgba(124, 104, 238, 0)), url("../resources/cloud.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}
body .side-menu__title {
  padding: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}
body .side-menu__list {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
body .side-menu__list li a {
  position: relative;
  color: #fff;
  display: block;
  padding: 1rem;
  transition: 0.3s;
}
body .side-menu__list li a:hover {
  background: #e6e6fa;
  color: #000;
}
body .side-menu__list li .active {
  position: relative;
  background: #e6e6fa;
  color: #000;
}
body #game-folders-section {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
}
body #dashboard-section {
  margin-top: 5rem;
}
body #dashboard-section .stats-container {
  display: flex;
  justify-content: space-evenly;
}
body #dashboard-section .stats-container .stat-box {
  padding: 2rem 4rem;
  border-radius: 5px;
  background-color: lightsalmon;
}

textarea {
  display: block;
  width: 60%;
  padding: 12px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f0f0f0;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  resize: none;
  transition: box-shadow 0.2s ease-in-out;
}

textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}