@mixin button($bg-color, $text-color) {
  cursor: pointer;
  border: none;
  display: inline-block;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: $bg-color;
  color: $text-color;
  position: relative;
  top: 0;
  transition: top 0.2s ease-in-out;

  &:hover {
    background-color: darken($bg-color, 10%);
    top: -2px;
  }

  &:active {
    top: 2px;
  }
}
